<?xml version="1.0" ?>
<model>
    <name>FloorPlan</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Sukrit Gupta</name>
        <email>sukritgupta265@gmail.com</email>
    </author>
    <description>A floor plan where a mobile robot can navigate autonomously</description>
</model>
